html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  margin: 0px;
  background: linear-gradient(to bottom right, #fff, #0ff);
}

.main{
  width: 100%;
  height: 100%;
}